.App {
    padding: 20px;
}

form {
    margin-top: 10px;
}

input, textarea {
    font-family: monospace;
    font-size: 1.2em;
    color: #1D1F21;
    border: 2px solid rgba(197, 200, 198, 0.4);
    outline: none;
    margin: 5px;
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box;
}

input:focus {
    border: 2px solid rgba(197, 200, 198, 1);
}

input[type="submit"] {
    background-color: rgba(197, 200, 198, 0.1);
    cursor: pointer;
}

.subtle {
    font-size: 95%;
    color: #707822;
}

a {
    color: #5F819D;
    cursor: pointer;
}

a:hover {
    color: #81A2BE;
}

.spacer {
    margin: 0 10px;
}

button {
    background-color: #C5C8C6;
    border: 2px solid transparent;
    color: #1D1F21;
    font-size: 1.2em;
    font-family: monospace;
    cursor: pointer;
    padding: 5px 10px;
    margin-right: 5px;
}

button.positive {
    background-color: #B5BD68;
}

.toolbar {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.toolbar input[type="search"] {
    margin: 0;
    flex: 1;
    max-width: 790px;
}

.toolbar button {
    width: 210px;
}

.selectedTag {
    margin: 20px 12px 0px;
}

.selectedTag a {
    padding: 5px 10px;
    border: 1px solid rgba(200, 200, 200, .2);
}

.container {
    display: flex;
    flex-direction: row;
}

.container .tagsList {
    margin-top: 20px;
    margin-right: 10px;
    padding: 0;
    list-style: none;
    width: 200px;
}

.container div:last-of-type {
    flex: 1;
    max-width: 800px;
}
