.bookmarks {
    width: 100%;
    margin-top: 10px;
}

.bookmarks td {
    padding: 10px;
}

.bookmarks .title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bookmarks .favicon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.bookmarks tr:hover {
    background-color: rgba(240, 240, 240);
}

.bookmarks td.date {
    text-align: right;
    vertical-align: top;
    white-space: nowrap;
}

.bookmarks .details {
    margin-top: 5px;
}

.bookmarks .description {
    margin: 5px 0;
}
