.error-container {
    background-color: #CC6666;
    width: 400px;
    position: absolute;
    bottom: 50px;
    left: calc(50% - 200px);
    padding: 20px;
    color: white;
}

.error-container button {
    color: white;
    background-color: #A54242;
    font-family: monospace;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 5px;
}

.error-container .title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.error-container .details-container {
    margin-top: 10px;
    text-align: center;
}

.error-container .details-toggle {
    text-align: center;
}
